/* CSS for DcXBlock */

.dc_xblock_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dc_xblock_header_el{
  justify-content: center;
  display: grid;
  background: #7ecce2;
  color: white;
}
#dc_practice_loader{
  background: #fdc551;
  border: none;
  border-radius: 0 0 10px 10px;
  font-size: 18px;
}

.dcxblock_block .count {
  font-weight: bold;
}

.dcxblock_block p {
  cursor: pointer;
}
[data-datacamp-exercise] {
  visibility: hidden;
}


.hide_block {
  display: none;
}

.show_block {
  display: block;
}
.dc_loader {
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #7ecce2;
  border-right: 16px solid #cfedc2;
  border-bottom: 16px solid #ffbfbf;
  border-left: 16px solid #fdc551;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}